<!DOCTYPE html>
<html>
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
<!-- <script>NekoType="valentine"</script>
<h1 id=nl><script src="https://webneko.net/n20171213.js"></script><a 
href="https://webneko.net">Neko</a></h1> -->
<!-- <a href="https://www.freecounterstat.com" title="page view counter"><img src="https://counter11.optistats.ovh/private/freecounterstat.php?c=rd51kp87mfagqzfd56mt4dh5j3rg5hlk" border="0" title="page view counter" alt="page view counter"></a> -->
</html>
