{{ define "main" }}
<div class="flex-container">
  {{ .Content }}
  <div class="flex-item-left">
  <!-- {{ range site.RegularPages }}
  
    

      <h2 class="homelist"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>    
    {{ .Summary }}
  {{ end }} -->
  <div>
    <p style="text-align: center;">
      <h1 style="text-align: center;">Prakassh</h1>
     Linux Enthusiastic | Developer | Hate Ads | Love Anime | ! a fan of social media
      
    </p>
  </div>


</div>
<div class="flex-item-middle">
  <!-- <img src="gifs/cooltext454075109381196.gif" alt="Computer man" style="width:200px;height:100px;margin-left: auto;margin-right: auto;display: block;"> -->
  
  <!-- <img src="gifs/dogrun.gif" alt="Computer man" style="margin-left: auto;margin-right: auto;display: block;"> -->
  <!-- <img src="gifs/Cat.gif" alt="Computer man" style="width:100%;margin-left: auto;margin-right: auto;display: block;transform: scaleX(-1);"> -->

  
  
  
  <h3>Recent Posts:</h3>
  {{ with (index (where site.RegularPages "Type" "posts").ByDate.Reverse 0) }}
    <a>{{ .Title }}</a>
    {{ .Content }}
  {{ end }}
  <img src="gifs/anime.gif" alt="Computer man" style="width:100px;height:100px;text-align: center;" title="text"><p style="text-align: center;display: inline-block;">Chatbox</p>

  <iframe src="https://www5.cbox.ws/box/?boxid=949894&boxtag=6vfy0" width="100%" height="250" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>	

  <!-- <a href='https://blinkies.cafe' target='_blank'><img src='https://blinkies.cafe/b/display/blinkiesCafe-badge.gif' alt='blinkies.cafe | make your own blinkies!'></a>
  <img src="gifs/blink-0.gif" alt="Computer man" style="margin-left: auto;margin-right: auto;display: block"> -->
</div>

  <div class="flex-item-right">
    <div class="tagscard">
      <h3>Tags</h3>
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      
    <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" class="customtags">{{ $name }}<sup> {{ len $taxonomy }}</sup></a>
  {{ end }}
    </div>
    <div class="followmecard">
      <h3>Follow Me</h3>
      <a href="https://github.com/prakassh-me"><img src="github-fill.svg" alt="Computer man" style="width:50px;height:50px;"></a>
      <a href="https://gitlab.com/prakassh-me"><img src="gitlab-logo-500.svg" alt="Computer man" style="width:50px;height:50px;"></a>
      <br><img src="gifs/anime-naruto.gif" alt="Computer man" style="width:100px;height:100px;">
    </div>
  </div>
</div>


{{ end }}
