* {
  box-sizing: border-box;
}

body {
  color: white;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  background-color: black;
}

.customnav {
  padding: 1px 6px;
  margin: 3px;
    border-radius: 10px;
    color: black;
    background-color: yellow;
    text-align: center;
    text-decoration: none;
    display: inline-block; /* <-- added declaration */
}


.customnav:hover{
  transform: rotate(10deg);
}

header {
  border-bottom: 1px solid #222;
  text-align: center;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}
a {
  color: yellow;
  text-decoration:none
}

a:hover{
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.customnav a:hover{
  text-decoration: none;
}
.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item-left {
  padding: 10px;
  flex: 20%;
}

.flex-item-middle{
  padding: 10px;
  flex: 60%
}
.flex-item-right {
  padding: 10px;
  flex: 20%;
}


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-container :nth-child(1) { order: 2; }
.flex-container :nth-child(2) { order: 1; }
.flex-container :nth-child(3) { order: 3; }
}

.customtags {
  padding: 1px 6px;
    border: 1px outset 20%;
    border-radius: 10px;
    color: black;
    background-color: yellow;
    display: inline-block; /* <-- added declaration */
}

#demo{
  padding: 1px 6px;
    border: 1px outset 20%;
    border-radius: 10px;
    color: black;
    background-color: yellow;
}