<div class="header">
    
</div>
<div style="display: flex; justify-content: center;">
    <img src="gifs/anime-love.gif" alt="Computer man" style="width:100px;height:100px;">
    {{ $url := .RelPermalink }}<!---->
    {{ with site.Menus.main }}
    <nav style="align-self: center;">
      {{ range . }}
      <a href="{{ .URL }}" class="customnav">{{ .Name }}</a>
      {{ end }}
    </nav>
    {{ end }}<!---->
    <img src="gifs/porfa.gif" alt="Computer man" style="width:100px;height:100px;">
</div>

<!-- {{ partial "menu.html" (dict "menuID" "main" "page" .) }} -->
